.postPreview {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
}

.postPreview > .userView{
    margin: 3% 0;
}

.postPreviewData {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4px;
}


.postPreviewData  data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 55%;
    font-size: 2.5vh;
    font-family: "Century Gothic";
}

.postPreview p, time {
    margin: 3px 5px;
    color: rgb(78, 17, 109);
}


.preview {
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 10vh;
}

.preview > div {
    width: 100%;
    height: 100%;
    font-size: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview:hover > div{
    background-color: rgba(27, 12, 12, 0.7)
}

.preview:hover > div > span{
    background: none;
}
.preview span{
    color: aliceblue;
    background: rgba(0, 0, 0, 0.7);
    padding: 2%;
    max-width: 70%;
    max-height: 20%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 6vh;
    text-align: center;
}

.postPreview a:hover {
    opacity: 1;
}