.writingMessagePanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    min-height: 15%;
    max-height: 50%;
    border-top: solid rgb(107, 73, 107) 1px;
    position: fixed; 
    left: auto; bottom: 0; right: auto;
    background: white;
}

@media all and (max-width: 800px) {
    .writingMessagePanel {
        width: 100%;
    }
}

.writingMessagePanel textarea {
    width: 95%;
    margin: 2%;
    margin-top: 0;
}

.writingMessagePanel label {
    margin: 1px;
    width: 100%;
    height: 100%;
}

.writingMessagePanel input[type=submit] {
    background: rgb(153, 50, 204, 0.3);
    border-radius: 10px;
    color: rgba(61, 17, 83);
    width: 15%;
    height: 5vh;
    margin: auto 2vh;
    outline: none;
}



