#navBar {
    position: fixed; 
    left: 0; top: 8%; 
    width: 18%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navBar a { 
    width: 100%;
    font-size: 3.5vh;
    font-family: "Century Gothic";
    color: DarkOrchid;
    padding-left: 8%;
    word-wrap: normal;
}

#navBar a:hover { 
    color:white;
    background:  DarkOrchid;
    opacity: 1;
}

#navBar > ul {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#navBar li {
    display: flex;
    margin: 10vh 0px;
    width: 100%;
}


@media all and (max-width: 800px) {
    #navBar > ul { 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px;
        width: 100%;
    }

    #navBar > ul > li{ 
        margin: 1vh 0;
    }

    #navBar a {
        font-size: 100%;
        padding-bottom: 3%;
        text-align: center;
        padding-left: 0;
    }
}