.dialogList {
    overflow: auto;
    height: 100%;
    margin-top: 1.5vh;
}

.dialogList > ul > li {
    margin: 2px 0px;
}

.dialogList > ul {
    margin: 1px;
    margin-top: 1.5vh;
}

.dialogPreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #dfd1e0;
    border-width: 1px 0;
    border-radius: 10px;
}

.dialogPreview  h5 {
    width: 95%;
    margin: 2px;
    border-radius: 10px;
    margin-bottom: 7px;
}

.dialogPreview > a {
    color: rgba(61, 17, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dialogList > a {
    color: rgba(61, 17, 83);
    padding: 0 3vw;
    border-radius: 10px;
}

.dialogList  a:hover {
    background: rgb(153, 50, 204, 0.3);
    color: white;
    opacity: 1;
}

.dialogList #floatingCirclesG {
    margin-top: 20%;
}