#loading{
    position:relative;
    width:125px;
    height:125px;
    margin:auto;
    transform:scale(0.6);
    -o-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}

@media all and (max-width: 400px) {
    #loading {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
    
.f_circleG{
    position:absolute;
    background-color:rgb(255,255,255);
    height:22px;
    width:22px;
    border-radius:12px;
    -o-border-radius:12px;
    -ms-border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.51s;
    -o-animation-duration:1.51s;
    -ms-animation-duration:1.51s;
    -webkit-animation-duration:1.51s;
    -moz-animation-duration:1.51s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}
    
#frotateG_01{
    left:0;
    top:51px;
    animation-delay:0.57s;
    -o-animation-delay:0.57s;
    -ms-animation-delay:0.57s;
    -webkit-animation-delay:0.57s;
    -moz-animation-delay:0.57s;
}
    
#frotateG_02{
    left:15px;
    top:15px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}
    
#frotateG_03{
    left:51px;
    top:0;
    animation-delay:0.94s;
    -o-animation-delay:0.94s;
    -ms-animation-delay:0.94s;
    -webkit-animation-delay:0.94s;
    -moz-animation-delay:0.94s;
}
    
#frotateG_04{
    right:15px;
    top:15px;
    animation-delay:1.13s;
    -o-animation-delay:1.13s;
    -ms-animation-delay:1.13s;
    -webkit-animation-delay:1.13s;
    -moz-animation-delay:1.13s;
}
    
#frotateG_05{
    right:0;
    top:51px;
    animation-delay:1.32s;
    -o-animation-delay:1.32s;
    -ms-animation-delay:1.32s;
    -webkit-animation-delay:1.32s;
    -moz-animation-delay:1.32s;
}
    
#frotateG_06{
    right:15px;
    bottom:15px;
    animation-delay:1.51s;
    -o-animation-delay:1.51s;
    -ms-animation-delay:1.51s;
    -webkit-animation-delay:1.51s;
    -moz-animation-delay:1.51s;
}
    
#frotateG_07{
    left:51px;
    bottom:0;
    animation-delay:1.7s;
    -o-animation-delay:1.7s;
    -ms-animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
    -moz-animation-delay:1.7s;
}
    
#frotateG_08{
    left:15px;
    bottom:15px;
    animation-delay:1.89s;
    -o-animation-delay:1.89s;
    -ms-animation-delay:1.89s;
    -webkit-animation-delay:1.89s;
    -moz-animation-delay:1.89s;
}
    
    
    
@keyframes f_fadeG{
    0%{
    background-color:rgb(224,54,224);
    }
    
    100%{
    background-color:rgb(255,255,255);
    }
}
    
@-o-keyframes f_fadeG{
    0%{
    background-color:rgb(224,54,224);
    }
    
    100%{
    background-color:rgb(255,255,255);
    }
}
    
@-ms-keyframes f_fadeG{
    0%{
    background-color:rgb(224,54,224);
    }
    
    100%{
    background-color:rgb(255,255,255);
    }
}
    
@-webkit-keyframes f_fadeG{
    0%{
    background-color:rgb(224,54,224);
    }
    
    100%{
    background-color:rgb(255,255,255);
    }
}
    
@-moz-keyframes f_fadeG{
    0%{
    background-color:rgb(224,54,224);
    }
    
    100%{
    background-color:rgb(255,255,255);
    }
}