#authenticateControl {
    position: fixed; 
    right: 0;  
    width: 17%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 2;
}

@media all and (max-width: 800px) {
    #authenticateControl {
        width: 40%;
    }
}




.authenticateForm {
    border: solid DarkOrchid 1px;
    background: white;
    width: 100%;
    border-radius: 8px;
    margin: 1% 0;
}

.authenticateDescription {
    border: 1px solid DarkOrchid;
    border-radius: 10px;
    background: white;
    width: 90%;
    margin-bottom: 5%;
}


#authenticateControl > button {
    margin: 2vh 2vw;
    background: DarkOrchid;
    color: white;
    border: none;
    font-size: 2.5vh;
    text-decoration: underline;
    font-style: oblique;
}