.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userProfile > a{
    margin: 0.5%;
}

.avatar {
    width: 30vh;
    height: 30vh;
    margin: 2vh;
}

.userProfile > .postList {
    width: 80%;
    margin-top: 0;
}


.userProfile .basicBlock {
    display: flex;
    font-size: 3vh;
    width: 90%;
    border-bottom: 1px  solid rgb(135, 83, 161);;
}
.textInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4%;
    align-items: flex-start;
}

.textInfo > span{
    margin: 1vh 2vw;
}

.textInfo > :first-child{
    margin: 2.5vh 2vw;
    margin-top: 0;
    font-weight: 800;
    font-size: 4vh;
}

.userProfile .scrollList {
    width: 70%;
}