.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userProfile > a{
    margin: 0.5%;
}

.userProfile > .postList {
    width: 80%;
    margin-top: 0;
}

.userProfile .scrollList {
    width: 70%;
}