.authenticatePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 8% 5%;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94%;
    margin: 3%;
}

input {
    width: 90%;
}

.authenticatePanel input[type=submit] {
    width: auto;
    border-radius: 5px;
}

.authenticatePanel form {
    text-align:center;
}