.messageDisplay {
    width: 100%;
    margin-bottom: 13vh;
}

.messageDisplay > ul > li {
    display: flex;
    align-self: flex-start;
    flex: 0 0 auto;
    width: auto;
}

.messageDisplay > ul {
    margin: 2%;
}

.notReadMessage {
    background: rgba(212, 75, 212, 0.2)
}