.dialogRoom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media all and (max-width: 800px) {
    .dialogRoom {
        height: 100%;
    }
}

.dialogRoom #loading {
    margin-top: 25%;
}

.dialogRoom > h4 {
    position: absolute;
    top: 8vh;
    margin: 1vh 0;
    width: 65%;
    background: floralwhite;
    font-size: 3vh;
}
