.dialogRoom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top:5vh;
}


.dialogRoom > h4 {
    position: fixed;
    top: 4vh;
    width: 65%;
    background: floralwhite;
    font-size: 3vh;
    border: solid rgb(111, 38, 148) 0;
    border-bottom-width: 1px;
}

@media all and (max-width: 800px) {
    .dialogRoom {
        height: 100%;
    }
    .dialogRoom > h4 {
        top: 14vh;
        width: 100%;
    }
}
