.dialogRoom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.dialogRoom > p, h4 {
    margin: 1vh;
    margin-bottom: 0;
    font-size: 3vh;
}

@media all and (max-width: 800px) {
    .dialogRoom {
        height: 100%;
    }
}

.dialogRoom #floatingCirclesG {
    margin-top: 25%;
}
