#mainPage {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav pageContent ads"
    "footer footer footer";
    grid-template-rows: 8vh 1fr 13vh;
    grid-template-columns: 18% 65% 17%;
    grid-gap: 0%;
    height: 100vh;
    background:#f0ddee	;
    border: none;
    padding: 0px;
}

#pageHeader {
    height: 8vh;
    text-align: center;
    margin: 0px 0px;
    position: fixed; 
    left: 0; top: 0; right: 0;
    z-index: 1;
}
#pageFooter {
    grid-area: footer;
    padding: 0px;
    background: Ivory;
    text-align: center;
    border-top: solid DarkOrchid 1px;
}
#pageContent {
    grid-area: pageContent;
    padding: 0px;
    background:Ivory;
    text-align: center;
    margin: 0px;
}

#navBar {
    position: fixed; 
    left: 0; top: 8%; 
    width: 18%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#siteAds {
    grid-area: ads;
    text-align: center;
    border: solid black 0px;
}

@media all and (max-width: 800px) {
    #mainPage {
        display: flex;
        flex-direction: column;
    }

    #pageContent {
        margin-top: 14vh;
        flex-grow: 1;
    }

    #navBar {
        left: 0; top: 8vh; right: 0px;
        min-height: 25px;
        height: 6vh;
        width: auto;
        display: flex;
        flex-direction: row;
        background:#f0ddee;
        z-index: 1;
    }
}


@media (max-height: 350px /*здесь Ваша мин. ширина*/) {
    #pageContent {
        margin-top: 50px;
    }
}

body {
    background:#f0ddee
}

/*general*/

a {
    text-decoration: none;
    width: 100%;
    font-size: 3.5vh;
    font-family: "Century Gothic";
    color: DarkOrchid;
}

a:hover { 
    color:white;
    background:  DarkOrchid;
    opacity: 1;
}

p {
    color: rgb(78, 17, 109);
}

ul {
    list-style: none;
    padding: 0px;
}

select {
    color: DarkOrchid;
    font-size: 2.5vh;
    margin: 0 1vh;
}

time {
    white-space: nowrap;
}

input[type=submit] {
    background: rgb(153, 50, 204, 0.2);
    border-radius: 10px;
    color: rgba(61, 17, 83);
    margin: auto ;
    outline: none;
    border-color: rgb(150, 18, 150);
}


button {
    background: rgba(61, 17, 83, 0.8);
    color: white;
    margin: 1vh 0.5vw;
    border-color: rgb(150, 18, 150);
    outline: none;
}


h3 {
    margin-top: 2vh;
    margin: 1vh auto;
    color: rgb(97, 26, 133);
    font-size: 4vh; 
    
}

input[type=submit].saveBtn, button.saveBtn {
    border: none;
    background: DarkOrchid;
    opacity: 0.7;
    font-size: 3.5vh;
    font-family: "Century Gothic";
    color: white;
    border-radius: 10px;
    width: 90%;
    margin: 1vh auto;
}

input[type=submit].saveBtn:hover, button.saveBtn:hover {
    opacity: 1;
    color: white;
}
