.filterPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2.5vh;
    width: 90%;
    margin: 2vh auto;
    color: DarkOrchid;
    font-family: "Century Gothic";
    border: solid rgb(111, 38, 148);
    border-width: 1px 0;
    border-radius: 5px;
}

.filterPanel input[type=submit] {
    width: 50%;
}

.filterPanel input[type=text] {
    width: 35%;
}

.filterPanel label {
    flex-direction: row;
    margin: 0.8vh 1vw;
    
}

select {
    color: rgb(111, 38, 148);
    font-size: 2.3vh;
}

.filterPanel input {
    margin: 0 0.5vw;
}

.filterPanel a {
    position: absolute;
    top: 12vh;
    right: 17%;
}

@media all and (max-width: 800px) {
    .filterPanel a {
        top: 17vh;
        right: 5%;
    }
}