.filterPanel {
    display: flex;
    flex-direction: row;
    margin: 1%;
    color: DarkOrchid;
    font-family: "Century Gothic";
    

}

.filterPanel input[type=submit] {
    width: 50%;
}

.filterPanel input[type=text] {
    width: 35%;
}

.filterPanel label {
    flex-direction: row;
    margin: 0.8vh 1vw;
    
}

.filterPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2.5vh;
    width: 80%;
    margin: 2vh auto;
    
    border: solid rgb(111, 38, 148);
    border-width: 1px 0;
    border-radius: 5px;
}

select {
    color: rgb(111, 38, 148);
    font-size: 2.3vh;
}

.filterPanel input {
    margin: 0 0.5vw;
}

