#pageFooter {
    display: flex;
    flex-direction: column;
    background: ivory;
}

.contact {
    display: flex;
    max-height: 30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.contact > img {
    display: flex;
    min-width: 5px;
    min-height: 5px;
    padding: 3px;
    height: 4vh;
    width: 4vh;
}

.contact > p {
    margin: 0px;
}

#pageFooter > p {
    margin: 3px;
    max-height: 20%;
}