#pageFooter {
    grid-area: footer;
    padding: 0px;
    background: Ivory;
    text-align: center;
    border-top: solid DarkOrchid 1px;
    display: flex;
    flex-direction: column;
    height: 17vh;
    min-height: 65px;
}

.contact {
    display: flex;
    max-height: 30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5vh 0vw;
}

.contact > img {
    display: flex;
    min-width: 5px;
    min-height: 5px;
    padding: 3px;
    height: 4vh;
    width: 4vh;
}

.contact > p {
    margin: 0px;
}

#pageFooter > p {
    margin: 0.5vh 0vw;
}