.contentBlock {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: #333;
    border: solid;
    border-width: 1px 0;
    padding: 2%;
}

.addingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.addingButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
}

.postBodyCreating textarea {
    width: 80%;
}

.postBodyCreating img {
    width: 40%;
    margin: auto;
}


.postBodyCreating button {
    width: 10vw;
    height: 5vh;
    background: DarkOrchid;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    border: none;
}
    
.postBodyCreating button:hover {
    background: #1E90FF;
}

button.deleteBtn {
    width:3vh;
    height: 3vh;
    border-radius: 50%;
}

button.deleteBtn:hover {
    background: red;
}